{% extends 'base.html' %}
{% block content %}

Hallo I yam char details page.
<br><br>

The name entered was:
{{ char_name_input }}
<br><br>

The resulting char id is:
{{ char_id }}
<br><br>

Is this char male?:
{{ char_male }}
<br><br>

Is this char dead?:
{{ char_dead }}
<br><br>

The resulting char house is:
{{ char_house }}
<br><br>

Titles:
<ul>
  {% for title in char_titles %}
   <li> {{ title }}
</ul>
{% endfor %}
<br><br>

Episodes:
<ul>
  {% for ep in char_eps %}
    <li> {{ ep }}
</ul>
{% endfor %}
<br><br>


{% endblock %}