{% extends 'base.html' %}

{% block title %} GYGO Character Detail {% endblock %}

{% block content %}

Char id :
{{ char_id }}
<br>

Char name :
{{ char_name }}
<br>

{% if char_thumb %}
<img src="{{ char_thumb }}">
<br>
{% endif %}

Is this char male?:
{{ char_male }}
<br>

Is this char dead?:
{{ char_dead }}
<br>

Char house is:
<a href="/houses/{{ char_house.house_id }}">{{ char_house.house_name }}</a>
<br>

Titles:
  <ul>
  {% for title in char_titles %}
    <li>
      <a href="/titles/{{ title.title_id }}">{{ title.title_name }}</a>
    </li>
  {% endfor %}
  </ul>

Episodes:
<ul>
  {% for ep in char_eps %}
    <li>
      <a href="/episodes/{{ ep.ep_id }}">{{ ep.ep_name }}</a>
    </li>
  {% endfor %}
</ul>

{% if ebay_items %}
eBay Items:
<ul>
  {% for item in ebay_items %}
    <li>
      <a href="{{ item['url'] }}">{{ item['title'] }}<br>
      <img src="{{ item['thumb'] }}"></a>
    </li>
  {% endfor %}
</ul>
{% endif %}

{% if etsy_items %}
Etsy items:
<ul>
  {% for item in etsy_items %}
    <li>
      <a href="{{ item['url'] }}">{{ item['title'] }}<br>
      <img src="{{ item['thumb'] }}"></a>
    </li>
  {% endfor %}
</ul>

<a href="/chars/{{ char_id }}/item">Want to see more costume items?</a>
<br><br>

{% endif %}

{% endblock %}