{% extends 'base.html' %}

{% block title %} GYGO Character Detail {% endblock %}

{% block content %}

<h1 class="char_name"> {{ char_name }} </h1>
<br>

<div class="row">
  <section class="col-xs-12 col-sm-3 col-md-3 col-lg-3 col-sm-offset-3">
      <br>
      <img src="{{ char_thumb }}">
      <br>
      Gender:
      {% if char_male %}
        Male
      {% else %}
        Female
      {% endif %}
       <br>

      Deceased? {{ char_dead }}
  </section>

  <section class="col-xs-12 col-sm-3 col-md-3 col-lg-3">

      House:
      <a href="/houses/{{ char_house.house_id }}">{{ char_house.house_name }}</a><br>
      <img src="/static/img/sigils/{{ char_house.house_name }}.png">
       <br>

      {% if char_titles%}
        Title(s):
        <ul>
        {% for title in char_titles %}
            <li>
              <a href="/titles/{{ title.title_id }}">{{ title.title_name }}</a>
            </li>
        {% endfor %}
        </ul>
      {% endif %}

  </section>
</div>

  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<a href="/chars/{{ char_id }}/episodes"><u>Full episode list</u></a>

<br><br>

    {% if etsy_items %}
      <u>Costume options:</u><br><br>
    {% endif %}

  </section>

  <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2">

      {% if ebay_items %}

          {% for item in ebay_items %}

            <a href="{{ item['url'] }}" target="_blank"><img src="{{ item['thumb'] }}"></a>&emsp;

          {% endfor %}

      {% endif %}

<br><br>

  </section>



{% if etsy_items %}

 <section class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-md-offset-2">

      {% for item in etsy_items %}

      <a href="{{ item['url'] }}" target="_blank"><img src="{{ item['thumb'] }}"></a>&emsp;

      {% endfor %}

{% endif %}
<br><br>
  </section>


  <section class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {% if etsy_items %}
      <a href="/chars/{{ char_id }}/item">Want to see more costume items?</a>
    {% endif %}

  </section>

{% endblock %}