{% extends 'base.html' %}

{% block title %} GYGO Episode Detail {% endblock %}

{% block content %}

<h1 class="ep_name"> "{{ ep_name }}" </h1>
Season:
{{ ep_season }}
<br>

{% if ep_season == 1 %}
<img src="/static/img/ep_season_1.png">
{% endif %}

{% if ep_season == 2 %}
<img src="/static/img/ep_season_2.jpg">
{% endif %}

{% if ep_season == 3 %}
<img src="/static/img/ep_season_3.jpg">
{% endif %}

{% if ep_season == 4 %}
<img src="/static/img/ep_season_4.jpg">
{% endif %}

{% if ep_season == 5 %}
<img src="/static/img/ep_season_5.jpg">
{% endif %}

<br><br>

<u>"{{ ep_name }}" had the following characters:</u><br>
    <ul>
        <br>
        {% for char in char_list %}
    <li>
      <a href="/chars/{{ char.char_id }}">{{ char.char_name }}</a>
    </li>
        {% endfor %}
    </ul>

<br><br>


{% endblock %}
