
{% extends 'base.html' %}

{% block title %} GYGO Index {% endblock %}

{% block content %}

  <h1 class="index"> Get Your Geek On </h1>
<p>Always be yourself.<br>
Unless you can be a Game of Thrones character.<br>
Then always be a Game of Thrones character.</p><br>

<div id="carousel-cosplay-pics" class="carousel slide" data-ride="carousel"
  data-wrap="True" data-pause="hover" data-interval='3000'>

    <div class="carousel-inner">

      <div class="item active centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_1.jpg">
      </div>
      <div class="item centered">
        <img class="img-responsive center-block" src="static/img/cosplayers_1-5.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_2.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_3.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_4.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_5.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_6.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_7.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_8.jpg">
      </div>
      <div class="item centered">
        <img class="img-responsive center-block" src="static/img/cosplayers_8-5.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_9.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_10.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_11.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_12.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_13.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_14.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_15.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_16.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_16-5.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_17.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_18.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_19.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_20.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_21.jpg">
      </div>
      <div class="item centered">
          <img class="img-responsive center-block" src="static/img/cosplayers_22.jpg">
      </div>

      <a class="left carousel-control" href="#carousel-cosplay-pics" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-cosplay-pics" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


{% endblock %}