{% extends 'base.html' %}

{% block title %} GYGO Items {% endblock %}

{% block content %}

<h1> Items for {{ char_name }} </h1>
<br>

<img src="{{ char_thumb }}">
<br>

{% if more_ebay_items %}
eBay Items:
<ul>
  {% for item in more_ebay_items %}
    <li>
      <a href="{{ item['url'] }}">{{ item['title'] }}<br>
      <img src="{{ item['thumb'] }}"></a>
    </li>
  {% endfor %}
</ul>
{% endif %}

{% if more_etsy_items %}
Etsy items:
<ul>
  {% for item in more_etsy_items %}
    <li>
      <a href="{{ item['url'] }}">{{ item['title'] }}<br>
      <img src="{{ item['thumb'] }}"></a>
    </li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}