{% extends 'base.html' %}

{% block title %} GYGO Search{% endblock %}

{% block content %}

<h1>Search</h1>
<br>
Fill out at least one search term.
<br><br>

<form action="/results">

Character name:
<input type="text" name="char_name" maxlength="100" size="40">
<br><br>

Character gender:
<select name="char_male">
  <option value="None">Not specified</option>
  <option value="True">Male</option>
  <option value="False">Female</option>

</select>
<br><br>

Character deceased?
<select name="char_dead">
    <option value="None" selected>Not specified</option>
    <option value="Unknown">Unknown</option>
    <option value="Not yet..">Not yet..</option>
    <option value="Totally">Totally</option>
    <option value="Sorta">Sorta</option>
    <option value="Undead">Undead</option>
</select>
<br><br>

<input type="submit" value="GYGO!">

</form>

{% endblock %}